<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Food Results</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Successfully made the food request.</h1>

        <!-- Back button -->
        <button class="btn btn-primary" onclick="goBack()">Back to Home</button>
    </div>

    <script>
        // Function to navigate back to the home screen
        function goBack() {
            window.location.href = "/home";
        }
    </script>
</body>
</html>
